<div class="home mt-4 m-auto">
 <div class="row first">
            <div class="col-md-12 text-white fs-3 p-3 ">
                {{res}}
            </div>
            <div (click)="reset()"  class="col-md-3 border-1 shadow  text-white col fs-5 fw-bold bg-danger " >Ac</div>
            
        
            <div (click)="getAction(item)" class="col-md-3 border-1 shadow add text-white col fs-4 fw-bold " *ngFor="let item of ['(',')','+']">{{item}}</div>
            
        </div>
        <div class="row">
             <div (click)="getAction(item)" class="col-md-3 border-1 shadow  text-white col fs-5 fw-bold "*ngFor="let item of[7,8,9,'/']">{{item}}</div>
         
            
        </div>
        <div class="row">
            <div (click)="getAction(item)" class="col-md-3 border-1 shadow  text-white col fs-5 fw-bold "*ngFor="let item of[4,5,6,'*']">{{item}}</div>
     
        </div>
        <div class="row">
            <div (click)="getAction(item)" class="col-md-3 border-1 shadow  text-white col fs-5 fw-bold "*ngFor="let item of[1,2,3,'-']">{{item}}</div>
             
        </div>
        <div class="row">
            <div (click)="getAction(item)" class="col-md-3 border-1 shadow  text-white col fs-4 fw-bold "*ngFor="let item of['00',0,'.']">{{item}}</div>
            <div class="col-md-3 border-1 shadow  text-white col fs-4 fw-bold " (click)="equal()">=</div>

        
        </div>
</div>